body {
    font-family: "Noto Sans HK", "Times New Roman", Times, serif;
    margin: 0;

}

.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   padding: 0 20px;
    /*background color linear-gradient */
    background:linear-gradient(to bottom right,
    coral 30%,
    lightgreen 60%, 
    blue 80%);
   /*background image*/
   /*background image: url("./shoes.webp");*/
  background-image: url(./sporty.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background:url(./sporty.jpg) no-repeat center/cover; 
}

.hero h1 {
    font-size: 40px;
    color: white;
   }
   .hero p {
    font-size: 18px;
    color: #fff;
   }

   /* regular link */

   .hero a {
    text-decoration: none;
    color: white;
   }

   /* hover */
   .hero a:hover {
    color: coral;
   }
    /* active */
    .hero a:active {
    color: blue;
    }

    /*focus */
    .hero a:focus {
    outline: 2px solid orange;
    }
    /* visited */
    .hero a:visited {
    color: red;
    }
