* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --container-width: 1000px;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    background: #000;
   width: var(--container-width);
    margin: 20px auto;
    height: 200px;
    display:flex;
    }

    .item {
        height: calc(100%-20px);
        min-width: calc(calc(100% / 5) - 20px);
        margin: 10px;
        background: coral;
    }