body {
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    
    
    line-height: 1.5;
    color: #333;
    background-color: #fff;

}
*{margin: 0;
    padding: 0;}

h1{
    background-color: purple;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    padding: 5px;
}
h3{
    color: purple;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 23px;
}
li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 8px;
}
p{
    line-height:1.5;
}

